{% extends "_layouts/_layout" %}

{% set pageRequireLogin = true %}

{% set title = 'Edit password' %}
{% do seomatic.meta.seoTitle(title) %}

{% block content %}
	{% import "_macros/_errors" as errors %}

    <div class="container page-content">
        {% include 'account/_sidebar' %}

        <div class="account-content">
            {% if not currentUser %}
                <div class="message">
                    <p>You need to <a href="{{ url('login') }}" title="Login">login</a> in order to edit your account.</p>
                </div>
            {% else %}
                <h1>{{ title }}</h1>

                {% if craft.app.request.getParam('success') %}
                    <div class="message message-info">
                        <p>Your password has been updated.</p>
                    </div>
                {% endif %}

                <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="users/saveUser">
                    <input type="hidden" name="redirect" value="account/password/?success=true">
                    <input type="hidden" name="userId" value="{{ currentUser.id }}">

                    <fieldset>
                        <p>Fill in both fields below to change the password associated with your account.</p>

                        <label for="password">New password</label>
                        <input id="newPassword" class="form-element" name="newPassword" type="password" autocomplete="off">
                        {% if account is defined %}
                            {{ errors.errorList(account.getErrors('newPassword')) }}
                        {% endif %}

                        <label for="password">Current Password</label>
                        <input id="currentPassword" class="form-element" name="password" type="password" autocomplete="off">
                        {% if account is defined %}
                            {{ errors.errorList(account.getErrors('currentPassword')) }}
                        {% endif %}
                    </fieldset>

                    <button class="button" type="submit">Submit</button>
                </form>
            {% endif %}
        </div><!-- / .account-content -->
    </div><!-- / .container -->
{% endblock %}
