{% extends "_layouts/_layout" %}

{% set pageRequireLogin = true %}

{% set title = 'Reset password' %}
{% do seomatic.meta.seoTitle(title) %}

{% block content %}
	<div class="member-activation-content">
		<h2>{{ title }}</h2>

		<form method="post" accept-charset="UTF-8">
		    {{ csrfInput() }}
		    <input type="hidden" name="redirect" value="{{ url('login') }}">
		    <input type="hidden" name="action" value="users/setPassword">
		    <input type="hidden" name="code" value="{{ code }}">
		    <input type="hidden" name="id" value="{{ id }}">

		    <input id="newPassword" class="form-element" type="password" name="newPassword" placeholder="New Password">

			{% if errors is defined %}
				<div class="message message-small message-error">
	                {% for error in errors %}
	                    <p>{{ error }}</p>
	                {% endfor %}
	            </div>
	        {% endif %}

		    <button class="button" type="submit">Submit</button>
		</form>
	</div><!-- / .member-activation-content -->
{% endblock %}
