{% extends "_layouts/_layout" %}

{# If already logged in, then go to account page #}
{% if currentUser %}
	{% redirect "account" %}
{% endif %}

{% set title = 'Forgot password' %}

{% block content %}

	<div class="member-activation-content">
		<h2>{{ title }}</h2>

	    <form method="post" accept-charset="UTF-8">
	        {{ csrfInput() }}
	        <input type="hidden" name="action" value="users/forgotPassword">
	        <input type="hidden" name="redirect" value="{{ url('login') }}">

	        <input id="login-name" class="form-element" type="text" name="loginName" placeholder="Username or email"
	            value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">

	        {% if errors is defined %}
				<div class="message message-small message-error">
	                {% for error in errors %}
	                    <p>{{ error }}</p>
	                {% endfor %}
	            </div>
	        {% endif %}

	        <button class="button" type="submit">Submit</button>
	    </form>
	</div><!-- / .member-activation-content -->
{% endblock %}
